body {
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
}

.touming {
    position: static;
    opacity: 0.65;
}

.touming b,
.touming a {
    color: black;
    position: relative;
}